@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  /* Colors */
  --color-principal-400: #f3f4fe;
  --color-principal-500: #673de5;
  --color-principal-600: #2f1c6a;
  --color-background-button: #e2dbfc;
  --color-background: #1f1346;
  --color-text-principal: #1d1e20;
  --color-white: #ffffff;
  --color-success: #00b090;
  --color-gray-100: #d5dfff;
  /*breakpoints*/
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;
  
}

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
body {
  overflow-x: hidden;
}

/*##################################################*/
/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--color-white);
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-wrap: wrap; /* Permite envolver los enlaces */
}

.navigation__nav {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__item{
  display: flex;
  align-items: center;
}
.header__menu-icon{
  font-size: 28px;
  display: none;
}
.navigation__item a {
  text-decoration: none;
  color: var(--color-text-principal);
}

.header__language-flag {
  display: flex;
  align-items: center;
  height: 24px;
  font-weight: 300;
  width: 24px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 32px;
  font-weight: 700;
}

.header__language-flag {
  width: 32px;
  height: 20px;
}

.header__language {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.header__login-button {
  display: flex;
  align-items: center;
  color: var(--color-text-principal);
  border: 2px solid var(--color-text-principal);
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}




/*####################################################################################################*/
/* hero section */

.hero__section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0 96px; /* padding top, horizontal y bottom */
  width: 100%;
}
.hero__container{
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0 40px;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1472px;
  justify-content: space-between;
}
.hero__container-left-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 463px;
}
.hero__title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 36px;
}
.hero__title-heading{
 
  color: var(--color-principal-600);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
}
.hero__title-subtitle{
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: var(--color-principal-600);
  text-align: left;
}
.hero__title-highlight{
  color: var(--color-principal-500);
}
.hero__features {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 12px; /* Añade espacio entre ítems si hace falta */
  margin-bottom: 24px; /* opcional para separar de lo siguiente */
}

.hero__features-item {
  display: flex;
  align-items: center; /* mejor para íconos + texto alineados visualmente */
  gap: 10px;
}
.hero__features-check {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--color-success);
} 
.hero__features-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-principal-600);
}

.hero__features-text { 
  color: var(--color-principal-600);
}
.hero__price{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-principal-600);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.hero__price-amount{
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: var(--color-principal-600);
}
.hero__price-bonus{
  font-weight: 700;

}
.hero__actions{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  font-weight: 700;
}

.hero__countdown{

  color: var(--color-principal-600);
  background-color: var(--color-background-button);
  padding: 12px 48px;
  border-radius: 8px;
  line-height: 24px;
}
.hero__btn {
  background-color: var(--color-principal-500);
  color: white;
  padding: 12px 48px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

}
.hero__image{
  max-width: 880px;
  min-width: 660px;
  width: 100%;
  height: auto;
}

.hero__guarantee{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: var(--color-principal-600);
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;

}
.hero__guarantee-icon{
  font-size: 16px;
  line-height: 1;
  font-weight: 800;
  color: var(--color-principal-600);
}



/*####################################################################################################*/
/* migration section */


.migration{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-background);
}
.migration__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1208px;
  padding: 80px 20px;
}
.migration__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 100%; 
  padding: 0 40px;
}

.migration__title {
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

.migration__description {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.migration__cards {
  width: 100%; 
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  height: 100%;
  align-items: stretch;
}

.migration__card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid transparent; 
  padding: 32px;
  border-radius: 12px;
  background-color: var(--color-principal-600);
  flex: 1;

}

.migration__card-text {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  
}

.migration__card-title {
  font-size: 18px;
  margin-top: 12px;
  font-weight: 600;
  margin-bottom: 16px;
}

.migration__card-icon {
  display: flex;
  align-items: flex-start;
  border-radius: 6px;
  padding: 8px;
  font-size: 24px;
  height: 40px;
  width: 40px;
  background-color: var(--color-principal-500);
}

.migration__button {
  color: var(--color-principal-400);
  background-color: var(--color-principal-500);
  font-weight: 700;
  padding: 12px 48px;
  align-self: center;
  border-radius: 8px;
  margin-top: 32px;
  border: 2px solid var(--color-principal-500); 
  cursor: pointer;
  font-size: 16px;
}

/*####################################################################################################*/
/* footer */

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--color-principal-400);
  padding: 40px;
}
.footer__wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1208px;
}
.footer__container-top {   
  display: flex;   
  flex-direction: row;   
  align-items: center;   
  width: 100%;   
  margin-bottom: 24px; 
} 

.footer__nav {   
  display: flex;    
  justify-content: flex-end;   
  width: 100%; 
} 

.footer__logo {   
  fill: var(--color-principal-600);   
  width: 147px;   
  height: 60px; 
} 

.footer__list-icons {   
  display: flex;   
  align-items: center;   
  justify-content: flex-end;   
  gap: 24px;   
  list-style: none;   
  width: 100%; 
} 

.footer__item a {
  text-decoration: none;
  color: var(--color-principal-600);
}

.footer__item i {   
  display: flex;   
  align-items: center;     
  font-size: 26px; 
} 

.footer__container-bottom {   
  display: flex;     
  align-items: center;   
}  

.footer__list-brands {   
  display: flex; 
  align-items: center;   
  justify-content: flex-start;   
  gap: 12px;   
  list-style: none;   
  padding: 0;   
  margin: 0; 
  flex-wrap: wrap;
}


.footer__brand-logo {   
  display: flex;    
  justify-content: flex-start;   
  width: 60px;   
  height: 40px;   
  font-size: 16px;   
  line-height: 24px;   
  border-radius: 4px;   
  border: 1px solid var(--color-gray-100); 
} 

.footer__brand-text {   
  color: var(--color-principal-500);   
  font-size: 16px;   
  line-height: 24px;  
  font-weight: 700; 
} 

.footer__text {   
  color: var(--color-principal-600);   
  font-size: 14px;   
  line-height: 24px;   
  font-weight: 400; 
}
.footer__divider{
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-100);
  margin: 24px 0;
}
.footer__container-bottom{  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__container-bottom-right{
  display: flex;
  gap: 12px;
  min-width: 444px;
}
.footer__container-bottom-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
/*####################################################################################################*/
/* media queries */

@media (max-width: 1140px) {
  .navigation {
    display: none; 
  }
  .header__menu-icon{
    display: flex;
  }
  .header__language{
    display: none;
  }
  .header__login-button{
    display: none;
  }
  header {
    padding: 16px 20px;
  }
  .hero__container{
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 980px;
  }
  .hero__content{
    max-width: 600px;
    align-items: center;
    
  }
  .hero__title-heading{
    font-size: 28px;
    line-height: 40px;
  }
}



@media (max-width: 1024px) {
  .hero__section{
    padding: 40px 0 80px;
  }
  .card-container__flex {
    flex-direction: column;
    padding: 0 20px; 
  }
  
  .card-container__flex{
    max-width: 768px;
  }
  .hero__container-left{
    max-width: 100%;
  }
  .hero__container-right{
    max-width: 100%;
  }
  .migration__title{
    font-size: 28px;
    line-height: 40px;
  }
  .migration__description{
    font-size: 16px;
  }
  .migration__container {
    max-width: 688px;
    margin: 0 auto;
  }
  .migration__cards {
    gap: 16px;
    flex-direction: column;
  }
  .footer__container-bottom{  
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .footer__container-bottom-right{
    min-width: 100%;
  }
  .footer__container-bottom-bottom{
    flex-direction: column;
  }
  .footer__wrapper{
    max-width: 688px;
  }
  .footer__container-bottom-bottom{
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .hero__section{
    padding: 14px 0 36px;
  } 
  .hero__container{
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    max-width: 980px;
  }
  .hero__image{
    max-width: 100%;
    min-width: 100%;
  }
  .hero__actions{
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }
  .hero__btn {
    width: 100%;
  }
  .hero__countdown{
    width: 100%;
    text-align: center;
  }
  .migration__title{
    font-size: 24px;
    line-height: 32px;
  }
  .migration__container { 
    padding: 0 16px;
    max-width: 508px;
  }
  .migration__cards {
    gap: 16px;
  }
  .footer__container-top{ 
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    
  }
  .footer__list-icons{
    justify-content: space-between;
    padding: 0;

  }
  .footer__nav{
    justify-content: flex-start;
  }
  .footer__wrapper{
    max-width: 508px;

  }
  .footer{
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer__container-bottom{
    max-width: 328px;
  }
  .footer__container-bottom-right{
    flex-wrap: wrap;
  }
  
}
